@use "variables" as v;

.flip-list-move {
    transition: transform 1s;
}
.my-mat-list .my-mat-list-item {
    height: 190px;
}
.smallFont {
    font-size: x-small!important;
    
}
.oder-item {
    flex-direction: row;
    row-gap: 10px;
    width: 100%;
    font-size: large;
}

.orderSelected {
    background-color: v.$item-order-registered-color;
}
.orderInProgress {
    background-color: v.$item-order-started-color;
}
.orderRegisteredBySomebodyElse {
    cursor: not-allowed;
    background-color: v.$item-disabled-color;
}
.orderBlockedBecauseRegistered {
    cursor: not-allowed;
    background-color: v.$item-disabled-color;
}

:host ::ng-deep .mat-list-item-content {
    padding: 5px!important;
    height: 100%!important;
}