<h3 class="dialog-header">{{ 'USERORDER.HEADER' | translate }}</h3>
<ng-container *ngLet="orders$ | withLoading | async as fOrders" >
    <div fxLayout="column">
        <div *ngIf="!fOrders.loading" fxLayout="row" fxLayoutGap="10px" style="margin: 5px;">
            <button fxFlex="50" mat-raised-button [disabled]="!(selectedOrder && !isOrderInProgress)" (click)="startOrder()">{{ 'USERORDER.START' | translate }}</button>
            <button fxFlex="50" mat-raised-button [disabled]="!(selectedOrder && isOrderInProgress)" (click)="cancelOrder()">{{ 'USERORDER.CANCEL' | translate }}</button>
        </div>
        <div class="login-list" >
            <!-- class="my-mat-list" -->
            <mat-list [app-transition-group]="'flip-list'" *ngIf="!fOrders.loading" >
                <mat-list-item app-transition-group-item @fadeAnimation *ngFor="let order of fOrders.value;" (click)="registerOrder(order)"
                    [disabled]="(order.operatedBy && order.operatedBy != authenticationService.currentUserValue?.email)
                        || (selectedOrder != undefined && selectedOrder != null && selectedOrder.id !== order.id)"
                    [ngClass]="{
                        'my-mat-list-item': true,
                        'orderSelected': selectedOrder?.id === order.id && order.operatedBy == authenticationService.currentUserValue?.email,
                        'orderInProgress': selectedOrder?.id === order.id && order.operatedBy == authenticationService.currentUserValue?.email && order.status == OrderStatus.InProgress,
                        'orderRegisteredBySomebodyElse': order.operatedBy && order.operatedBy != authenticationService.currentUserValue?.email,
                        'orderBlockedBecauseRegistered': !(order.operatedBy && order.operatedBy != authenticationService.currentUserValue?.email)
                            && (selectedOrder != undefined && selectedOrder != null && selectedOrder?.id !== order.id)
                    }">
                    <!-- fxLayout="row"  fxLayout.lt-md="column" -->
                        <div  class="oder-item" fxLayout="row" 
                            [ngClass.lt-md]="'smallFont'" >
                            <div fxFlex="42%">
                                <div fxFlex="16%">
                                    <div>{{'USERORDER.ID' | translate}}</div><div>{{ order.id }}</div>
                                </div>
                                <div fxFlex="47%">
                                    <div>{{'USERORDER.CONTAINER_ID' | translate}}</div>
                                    <div>{{ order.containerId }}</div>
                                </div>
                                <div fxFlex="35%">
                                    <div>{{'USERORDER.CONTAINER_TYPE' | translate}}</div>
                                    <div>{{ order.containerType }}</div>
                                </div>
                            </div>

                            <div fxFlex="68%">
                                <div fxFlex="38%">
                                    <div>{{'USERORDER.LOCATION_FROM' | translate}}</div>
                                    <div>{{ order.startPositionName }}</div>
                                </div>
                                <div fxFlex="38%">
                                    <div>{{'USERORDER.LOCATION_TO' | translate}}</div>
                                    <div>{{ order.endPositionName }}</div>
                                </div>
                                <div fxFlex="34%">
                                    <div>{{'USERORDER.STATUS' | translate}}</div>
                                    <div>{{ order.status }}</div>
                                </div>
                            </div>
                        </div>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="shade" *ngIf="fOrders.loading || isOperationInProgress">
            <mat-spinner></mat-spinner>
        </div>
        <div class="shade" *ngIf="fOrders.error">
            <app-reload-button (click)="getOrders()">
            </app-reload-button>
        </div>
    </div>
</ng-container>