$header-backgound-color: #1d4477;
$header-foreground-color: white;
$background-color: #e8e8e4;
$item-border-color: red;
$item-color: #ffcc00;
$item-disabled-color: #adafb1;
$item-order-registered-color: #ef7b00;
$item-order-started-color: #b61f34;
$button-active-color: #00a19e;